In [1]:
# importar la data del archivo csv y convertirlo en un dataframe
import pandas as pd
import numpy as np

data_lap1 = pd.read_csv('Datasets/lap_times/lap_times_split_1.csv', sep=',')
data_lap2 = pd.read_csv('Datasets/lap_times/lap_times_split_2.csv', sep=',')
data_lap3 = pd.read_csv('Datasets/lap_times/lap_times_split_3.csv', sep=',')
data_lap4 = pd.read_csv('Datasets/lap_times/lap_times_split_4.csv', sep=',')
data_lap5 = pd.read_csv('Datasets/lap_times/lap_times_split_5.csv', sep=',')

# Asignar nombres a las columnas
data_lap1.columns = ['IdCarrera', 'IdPiloto', 'Vuelta', 'Posicion', 'Tiempo','Duracion(ms)']
data_lap2.columns = ['IdCarrera', 'IdPiloto', 'Vuelta', 'Posicion', 'Tiempo','Duracion(ms)']
data_lap3.columns = ['IdCarrera', 'IdPiloto', 'Vuelta', 'Posicion', 'Tiempo','Duracion(ms)']
data_lap4.columns = ['IdCarrera', 'IdPiloto', 'Vuelta', 'Posicion', 'Tiempo','Duracion(ms)']
data_lap5.columns = ['IdCarrera', 'IdPiloto', 'Vuelta', 'Posicion', 'Tiempo','Duracion(ms)']

In [2]:

# Concatenar los dataframes
data_lap = pd.concat([data_lap1, data_lap2, data_lap3, data_lap4, data_lap5], ignore_index=True)
data_lap.head()

   IdCarrera  IdPiloto  Vuelta  Posicion    Tiempo  Duracion(ms)
0        841        20       2         1  1:33.006         93006
1        841        20       3         1  1:32.713         92713
2        841        20       4         1  1:32.803         92803
3        841        20       5         1  1:32.342         92342
4        841        20       6         1  1:32.605         92605

In [3]:
data_lap.tail()

        IdCarrera  IdPiloto  Vuelta  Posicion    Tiempo  Duracion(ms)
490894       1047       815       4        17  1:44.762        104762
490895       1047       815       5        16  1:43.786        103786
490896       1047       815       6        15  1:43.263        103263
490897       1047       815       7        15  1:45.123        105123
490898       1047       815       8        14  1:44.231        104231

In [4]:
data_lap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490899 entries, 0 to 490898
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   IdCarrera     490899 non-null  int64
 1   IdPiloto      490899 non-null  int64
 2   Vuelta        490899 non-null  int64
 3   Posicion      490899 non-null  int64
 4   Tiempo        490899 non-null  object
 5   Duracion(ms)  490899 non-null  int64
dtypes: int64(5), object(1)
memory usage: 20.6+ MB

In [5]:
# Converir IdCalificacion en indice
data_lap.set_index('IdCarrera', inplace=True)

In [6]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_lap.apply(lambda x: sum(x=='\\N'), axis=0)

IdPiloto        0
Vuelta          0
Posicion        0
Tiempo          0
Duracion(ms)    0
dtype: int64

In [7]:
# Reemplazar los valores '\\N' y los vacios por valores nulos
data_lap = data_lap.replace('\\N', np.nan)
data_lap = data_lap.replace('', np.nan)

In [8]:
data_lap.head()

           IdPiloto  Vuelta  Posicion    Tiempo  Duracion(ms)
IdCarrera
841              20       2         1  1:33.006         93006
841              20       3         1  1:32.713         92713
841              20       4         1  1:32.803         92803
841              20       5         1  1:32.342         92342
841              20       6         1  1:32.605         92605

In [9]:
data_lap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490899 entries, 841 to 1047
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   IdPiloto      490899 non-null  int64
 1   Vuelta        490899 non-null  int64
 2   Posicion      490899 non-null  int64
 3   Tiempo        490899 non-null  object
 4   Duracion(ms)  490899 non-null  int64
dtypes: int64(4), object(1)
memory usage: 20.6+ MB

In [10]:
# exportar la data a un archivo csv
data_lap.to_csv('DATA_FINAL/laptimes_final.csv')