In [1]:
# importar las librerias y la base de datos

import pandas as pd
import numpy as np

data_races = pd.read_csv('Datasets/races.csv')

In [2]:
data_races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [3]:
data_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1058 non-null   int64
 1   year       1058 non-null   int64
 2   round      1058 non-null   int64
 3   circuitId  1058 non-null   int64
 4   name       1058 non-null   object
 5   date       1058 non-null   object
 6   time       1058 non-null   object
 7   url        1058 non-null   object
dtypes: int64(4), object(4)
memory usage: 49.7+ KB

In [4]:
# renombrar las columnas
data_races.rename(columns={'raceId':'IdCarrera','year':'Año','round':'Ronda','circuitId':'IdCircuito',
                        'name':'Nombre_Carrera','date':'Fecha','time':'Tiempo','url':'Url_Carrera'}, inplace=True)

In [5]:
# Cambiar tipo de dato de la columna date
data_races['Fecha'] = pd.to_datetime(data_races['Fecha'], format='%Y/%m/%d')

In [6]:
# Poner como indice la columna IdCircuito
data_races.set_index('IdCarrera', inplace=True)

# Eliminar los espacios en blanco en las columnas tipo objeto
data_races['Nombre_Carrera'] = data_races['Nombre_Carrera'].str.strip()
data_races['Url_Carrera'] = data_races['Url_Carrera'].str.strip()

# Poner en modo titulo los nombres en la columna ciudad
data_races['Nombre_Carrera'] = data_races['Nombre_Carrera'].str.title()

In [7]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_races.apply(lambda x: sum(x=='\\N'), axis=0)

Año                 0
Ronda               0
IdCircuito          0
Nombre_Carrera      0
Fecha               0
Tiempo            732
Url_Carrera         0
dtype: int64

In [8]:
# Reemplazar los valores '\\N' y los vacios por valores nulos
data_races = data_races.replace('\\N', np.nan)
data_races = data_races.replace('', np.nan)

In [9]:
data_races.head()

,Año,Ronda,IdCircuito,Nombre_Carrera,Fecha,Tiempo,Url_Carrera
IdCarrera,,,,,,,
1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [10]:
data_races.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 1 to 1073
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Año             1058 non-null   int64
 1   Ronda           1058 non-null   int64
 2   IdCircuito      1058 non-null   int64
 3   Nombre_Carrera  1058 non-null   object
 4   Fecha           1058 non-null   datetime64[ns]
 5   Tiempo          326 non-null    object
 6   Url_Carrera     1058 non-null   object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 53.7+ KB

In [11]:
# exportar la data a un archivo csv
data_races.to_csv('DATA_FINAL/races_final.csv')