In [1]:
# importar la data del archivo csv y convertirlo en un dataframe

import pandas as pd
import numpy as np

data_circuits = pd.read_csv('Datasets/circuits.csv')

In [2]:
data_circuits.head(5)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [3]:
data_circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.0+ KB

In [4]:
# renombrar las columnas
data_circuits.rename(columns={'circuitId':'IdCircuito','circuitRef':'Ciudad','name':'Nombre_Circuito',
                            'location':'Localidad','country':'Pais','lat':'Latitud','lng':'Longitud',
                            'alt':'Altitud','url':'Url_Circuito'}, inplace=True)

In [5]:
# Poner como indice la columna IdCircuito
data_circuits.set_index('IdCircuito', inplace=True)

In [6]:
# eliminar los espacios en las columnas tipo string
data_circuits['Ciudad'] = data_circuits['Ciudad'].str.strip() 
data_circuits['Nombre_Circuito'] = data_circuits['Nombre_Circuito'].str.strip()
data_circuits['Localidad'] = data_circuits['Localidad'].str.strip()
data_circuits['Pais'] = data_circuits['Pais'].str.strip()
data_circuits['Url_Circuito'] = data_circuits['Url_Circuito'].str.strip()

In [7]:
# Poner en modo titulo los datos de las columnas tipo string
data_circuits['Ciudad'] = data_circuits['Ciudad'].str.title()
data_circuits['Nombre_Circuito'] = data_circuits['Nombre_Circuito'].str.title()
data_circuits['Localidad'] = data_circuits['Localidad'].str.title()
data_circuits['Pais'] = data_circuits['Pais'].str.title()

In [8]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_circuits.apply(lambda x: sum(x=='\\N'), axis=0)

Ciudad             0
Nombre_Circuito    0
Localidad          0
Pais               0
Latitud            0
Longitud           0
Altitud            0
Url_Circuito       0
dtype: int64

In [9]:
data_circuits.head(5)

,Ciudad,Nombre_Circuito,Localidad,Pais,Latitud,Longitud,Altitud,Url_Circuito
IdCircuito,,,,,,,,
1,Albert_Park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
2,Sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
3,Bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
4,Catalunya,Circuit De Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
5,Istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [10]:
data_circuits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 1 to 77
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ciudad           77 non-null     object
 1   Nombre_Circuito  77 non-null     object
 2   Localidad        77 non-null     object
 3   Pais             77 non-null     object
 4   Latitud          77 non-null     float64
 5   Longitud         77 non-null     float64
 6   Altitud          77 non-null     int64
 7   Url_Circuito     77 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 3.9+ KB

In [11]:
# exportar la data a un archivo csv
data_circuits.to_csv('DATA_FINAL/circuits_final.csv')