In [1]:
# importar la data del archivo csv y convertirlo en un dataframe
import pandas as pd
import numpy as np

data_paradas = pd.read_json('Datasets/pit_stops.json')

In [2]:
data_paradas.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [3]:
data_paradas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        8030 non-null   int64
 1   driverId      8030 non-null   int64
 2   stop          8030 non-null   int64
 3   lap           8030 non-null   int64
 4   time          8030 non-null   object
 5   duration      8030 non-null   object
 6   milliseconds  8030 non-null   int64
dtypes: int64(5), object(2)
memory usage: 376.5+ KB

In [4]:
# borramos la columna 'Duraci√≥n(s)' ya que no es necesaria y tiene valores que no pueden ser convertidos a float
data_paradas.drop('duration', axis=1, inplace=True)

# Cambiar el nombre de las columnas
data_paradas.rename(columns={'raceId':'IdCarrera','driverId':'IdPiloto','stop':'Parada_Nro','lap':'Vuelta_Nro',
                    'time':'Tiempo','milliseconds':'Duracion(ms)'},inplace=True)

In [5]:
# El indice debe comenzar en 1
data_paradas.index = np.arange(1, len(data_paradas)+1)

# Darle un nombre al indice
data_paradas.index.name = 'IdParada'

In [6]:
# Convertir la columna 'Tiempo' a formato datetime con formato '%H:%M:%S'
data_paradas['Tiempo'] = pd.to_datetime(data_paradas['Tiempo'], format='%H:%M:%S').dt.time

In [7]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_paradas.apply(lambda x: sum(x=='\\N'), axis=0)

IdCarrera       0
IdPiloto        0
Parada_Nro      0
Vuelta_Nro      0
Tiempo          0
Duracion(ms)    0
dtype: int64

In [8]:
data_paradas.head()

          IdCarrera  IdPiloto  Parada_Nro  Vuelta_Nro    Tiempo  Duracion(ms)
IdParada
1               841       153           1           1  17:05:23         26898
2               841        30           1           1  17:05:52         25021
3               841        17           1          11  17:20:48         23426
4               841         4           1          12  17:22:34         23251
5               841        13           1          13  17:24:10         23842

In [9]:
data_paradas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8030 entries, 1 to 8030
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdCarrera     8030 non-null   int64
 1   IdPiloto      8030 non-null   int64
 2   Parada_Nro    8030 non-null   int64
 3   Vuelta_Nro    8030 non-null   int64
 4   Tiempo        8030 non-null   object
 5   Duracion(ms)  8030 non-null   int64
dtypes: int64(5), object(1)
memory usage: 407.8+ KB

In [10]:
# exportar la data a un archivo csv
data_paradas.to_csv('DATA_FINAL/stops_final.csv')