In [1]:
# importar las librerias y la base de datos

import pandas as pd
import numpy as np

data_drivers = pd.read_json('Datasets/drivers.json', lines=True)

#df=pd.concat([df.drop(['name'], axis=1),df['name'].apply(pd.Series)], axis=1)

In [2]:
data_drivers.head()

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [3]:
data_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     853 non-null    int64
 1   driverRef    853 non-null    object
 2   number       853 non-null    object
 3   code         853 non-null    object
 4   name         853 non-null    object
 5   dob          853 non-null    object
 6   nationality  853 non-null    object
 7   url          853 non-null    object
dtypes: int64(1), object(7)
memory usage: 30.1+ KB

In [4]:
# renombrar las columnas
data_drivers.rename(columns={'driverId':'IdPiloto','driverRef':'Nombre_Piloto','number':'Nro_Matricula',
                            'code':'Codigo','name':'Nombres','dob':'Nacimiento','nationality':'Nacionalidad',
                            'url':'Url_Piloto'}, inplace=True)

In [5]:
# establecer a driverId como indice
data_drivers = data_drivers.set_index('IdPiloto')

In [6]:
# Eliminar los espacios en blanco en las columnas tipo objeto
data_drivers['Nombre_Piloto'] = data_drivers['Nombre_Piloto'].str.strip()
data_drivers['Codigo'] = data_drivers['Codigo'].str.strip()
data_drivers['Nacimiento'] = data_drivers['Nacimiento'].str.strip()
data_drivers['Nacionalidad'] = data_drivers['Nacionalidad'].str.strip()
data_drivers['Url_Piloto'] = data_drivers['Url_Piloto'].str.strip()

# data_drivers['Nro_Matricula'] = data_drivers['Nro_Matricula'].str.strip() 
# El strip no funciona en este caso, porque destruye valores numericos

# Poner en modo titulo los nombres en la columna ciudad
data_drivers['Nombre_Piloto'] = data_drivers['Nombre_Piloto'].str.title()
data_drivers['Codigo'] = data_drivers['Codigo'].str.title()
data_drivers['Nacionalidad'] = data_drivers['Nacionalidad'].str.title()

In [7]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_drivers.apply(lambda x: sum(x=='\\N'), axis=0)

Nombre_Piloto      0
Nro_Matricula    806
Codigo           757
Nombres            0
Nacimiento         0
Nacionalidad       0
Url_Piloto         0
dtype: int64

In [8]:
# Reemplazar los valores '\\N' y los vacios por valores nulos
data_drivers = data_drivers.replace('\\N', np.nan)
data_drivers = data_drivers.replace('', np.nan)

# Cambiar tipo de dato de la columna date
data_drivers['Nacimiento'] = pd.to_datetime(data_drivers['Nacimiento'], format='%Y/%m/%d')

In [9]:
data_drivers.head()

,Nombre_Piloto,Nro_Matricula,Codigo,Nombres,Nacimiento,Nacionalidad,Url_Piloto
IdPiloto,,,,,,,
1,Hamilton,44.0,Ham,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,Heidfeld,NaN,Hei,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
3,Rosberg,6.0,Ros,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
4,Alonso,14.0,Alo,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,Kovalainen,NaN,Kov,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [10]:
data_drivers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853 entries, 1 to 854
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre_Piloto  853 non-null    object
 1   Nro_Matricula  47 non-null     float64
 2   Codigo         96 non-null     object
 3   Nombres        853 non-null    object
 4   Nacimiento     853 non-null    datetime64[ns]
 5   Nacionalidad   853 non-null    object
 6   Url_Piloto     853 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 36.7+ KB

In [11]:
# exportar la data a un archivo csv
data_drivers.to_csv('DATA_FINAL/drivers_final1.csv')