In [1]:
# importar las librerias y la base de datos

import pandas as pd
import numpy as np

data_constructors = pd.read_json('Datasets/constructors.json', lines=True)

In [2]:
data_constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [3]:
data_constructors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 5.0+ KB

In [4]:
# Eliminar la columna de constructorRef porque es redundante
data_constructors = data_constructors.drop(columns=['constructorRef'])

# Renombrar las columnas
data_constructors.rename(columns={'constructorId':'IdConstructor','name':'Nombre_Constructor',
                            'nationality':'Nacionalidad','url':'Url_Constructor'}, inplace=True)

# Establecer a driverId como indice
data_constructors = data_constructors.set_index('IdConstructor')

In [5]:
# Eliminar los espacios en blanco en las columnas tipo objeto
data_constructors['Nombre_Constructor'] = data_constructors['Nombre_Constructor'].str.strip()
data_constructors['Nacionalidad'] = data_constructors['Nacionalidad'].str.strip()
data_constructors['Url_Constructor'] = data_constructors['Url_Constructor'].str.strip()

# Poner en modo titulo los nombres en la columna ciudad
data_constructors['Nombre_Constructor'] = data_constructors['Nombre_Constructor'].str.title()
data_constructors['Nacionalidad'] = data_constructors['Nacionalidad'].str.title()

In [6]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_constructors.apply(lambda x: sum(x=='\\N'), axis=0)

Nombre_Constructor    0
Nacionalidad          0
Url_Constructor       0
dtype: int64

In [7]:
data_constructors.head()

,Nombre_Constructor,Nacionalidad,Url_Constructor
IdConstructor,,,
1,Mclaren,British,http://en.wikipedia.org/wiki/McLaren
2,Bmw Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
3,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
4,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
5,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [8]:
data_constructors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 1 to 214
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre_Constructor  211 non-null    object
 1   Nacionalidad        211 non-null    object
 2   Url_Constructor     211 non-null    object
dtypes: object(3)
memory usage: 4.1+ KB

In [9]:
# exportar la data a un archivo csv
data_constructors.to_csv('DATA_FINAL/constructors_final.csv')