In [1]:
import pandas as pd
from ast import literal_eval

df = pd.read_csv('F:/PROYECTO_INDIVIDUAL/DATA_ENGINEERING/PI01_DATA02/DATA_FINAL/drivers1.csv', converters={'Nombres': literal_eval}, sep=',')
df = df['Nombres'].apply(pd.Series)
print(df)

     forename     surname
0       Lewis    Hamilton
1        Nick    Heidfeld
2        Nico     Rosberg
3    Fernando      Alonso
4      Heikki  Kovalainen
..        ...         ...
848    Pietro  Fittipaldi
849      Jack      Aitken
850      Yuki     Tsunoda
851    Nikita     Mazepin
852      Mick  Schumacher

[853 rows x 2 columns]

In [2]:
# Importar la data de drivers_final.csv

data_drivers = pd.read_csv('F:/PROYECTO_INDIVIDUAL/DATA_ENGINEERING/PI01_DATA02/DATA_FINAL/drivers1.csv')

In [3]:
# Concatenar data_drivers con df
data_drivers = pd.concat([data_drivers, df], axis=1)

# Eliminar la columna Nombres
data_drivers = data_drivers.drop(['Nombres'], axis=1)

# Renombrar a las columnas forename y surname
data_drivers = data_drivers.rename(columns={'forename': 'Nombre', 'surname': 'Apellido'})

# Establecer como Ã­ndice el IdPiloto
data_drivers = data_drivers.set_index('IdPiloto')

# Reordenar las columnas
data_drivers = data_drivers[['Nombre_Piloto', 'Nro_Matricula', 'Codigo', 'Nombre', 'Apellido', 'Nacimiento', 
                            'Nacionalidad', 'Url_Piloto']]

In [4]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_drivers.apply(lambda x: sum(x=='\\N'), axis=0)

Nombre_Piloto    0
Nro_Matricula    0
Codigo           0
Nombre           0
Apellido         0
Nacimiento       0
Nacionalidad     0
Url_Piloto       0
dtype: int64

In [5]:
data_drivers.head()

,Nombre_Piloto,Nro_Matricula,Codigo,Nombre,Apellido,Nacimiento,Nacionalidad,Url_Piloto
IdPiloto,,,,,,,,
1,Hamilton,44.0,Ham,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,Heidfeld,NaN,Hei,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
3,Rosberg,6.0,Ros,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
4,Alonso,14.0,Alo,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,Kovalainen,NaN,Kov,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [6]:
data_drivers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853 entries, 1 to 854
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre_Piloto  853 non-null    object
 1   Nro_Matricula  47 non-null     float64
 2   Codigo         96 non-null     object
 3   Nombre         853 non-null    object
 4   Apellido       853 non-null    object
 5   Nacimiento     853 non-null    object
 6   Nacionalidad   853 non-null    object
 7   Url_Piloto     853 non-null    object
dtypes: float64(1), object(7)
memory usage: 36.7+ KB

In [7]:
# Exportar la data a un archivo csv
data_drivers.to_csv('F:/PROYECTO_INDIVIDUAL/DATA_ENGINEERING/PI01_DATA02/DATA_FINAL/drivers2.csv')